<section id="bigCarusell">

    
    <div class="mx-2">
        <p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="false" class="h-full">
            <ng-template let-product pTemplate="item mx-0 px-0">
    
                <div class="rounded-none border-0 my-2 py-3">
                    <div class="mb-3">
                        <div class="relative mx-auto">
    
                            <img src="../../assets/images/{{ product.src }}" [alt]="product.name"
                                class="w-full border-round" />
    
                            <div [class]="product.cclass" id="FatherfullWidthCarusellText">
                                <div id="fullWidthCarusellText">
    
                                    <div><strong>FURNITURE DESIGNS IDEAS</strong></div>
                                    <div>
                                        <h1 class="text">{{ product.h1 }}</h1>
                                    </div>
                                    <div>
                                        <h2>{{ product.h2 }}</h2>
                                    </div>
                                    <div>
                                        <p>Consectetur adipisicing elit. beatae accusomus,</p>
                                    </div>
    
                                    <div class="w-100 flex justify-center">
                                        <div id="withAimnation" class="relative">
                                            <div id="beforwithAimnation"></div>
                                            <span class="mx-auto">SHOP NOW</span>
                                            <div id="afterwithAimnation"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>






</section>

<!-- for fade left and right -->
<!-- <div pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft" class="flex box shadow-4 justify-content-center align-items-center h-10rem w-10rem sm:h-15rem sm:w-15rem border-round animation-duration-1000 animation-ease-in-out">
    <span class="text-3xl font-bold">fade-left</span>
</div>
<div class="h-30rem"></div>
<div pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutright" class="flex box shadow-4 justify-content-center align-items-center h-10rem w-10rem sm:h-15rem sm:w-15rem border-round animation-duration-1000 animation-ease-in-out">
    <span class="text-3xl font-bold">fade-right</span>
</div> -->